<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="Team103DBConnectionString" connectionString="Data Source=Buscissql\cisweb;Initial Catalog=Team103DB;User ID=json;Password=frame"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.2" />
    <!--<httpRuntime targetFramework="4.5.2"/>-->
    <authentication mode="Forms">
      <forms name="Team103Auth" loginUrl="SignIn.aspx" protection="All" timeout="20" slidingExpiration="true" />
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
  </system.web>
  
  <location path="LoggedIn">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
      <pages>
        <controls>
          <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
        </controls>
      </pages>
      <customErrors mode="Off"/>
    </system.web>
  </location>


</configuration>
